%btn {
	padding: 15px 23px;
	min-width: 150px;
	font-size: 18px;
	outline: none;
	text-align: center;
	border-radius: 30px;
	overflow: visible;
	cursor: pointer;
	box-shadow: 0 3px 0 $btn-box-shadow;

	&:active {
			transform: scale(0.99);
			box-shadow: 0 1px 0 $btn-box-shadow;
	}
	@media only screen and (max-width: 480px) {
			min-width: 100%;
			margin-left: 0%;
			margin-right: 0%;
	}

}

.btn {
	&.btn--update-result {
		@extend %btn;
		background-color:$coop-primary-blue;
		color: $coop-primary-white;
		box-shadow: none;
		border: none;
		border-radius: 12px;
		@media only screen and (max-width: 480px) {
			min-width: 0;
		}
	}

	&.btn--selected {
		@extend %btn;
		background-color:$coop-primary-blue;
		color: $coop-primary-white;
		box-shadow: none;
		border: none;
		border-radius: 12px;
		padding: 15px 10px;
		width: 90%;
		@media only screen and (max-width: 480px) {
			min-width: 0;
		}
	}

	&.btn--select {
		@extend %btn;
		background-color:$coop-primary-white;
		color: $coop-subtitle-grey;
		box-shadow: none;
		border: 1px solid $coop-subtitle-grey;
		border-radius: 12px;
		padding: 15px 10px;
		width: 90%;
		@media only screen and (max-width: 480px) {
			min-width: 0;
		}
	}

	&.btn--blocked-blue {
		@extend %btn;
		margin-top: 25px;
		margin-bottom: 25px;
		

		box-shadow: none;
		border: none;
		border-radius: 12px;
		background-color: $coop-blocked-blue-color;
		color: $coop-primary-white;
		@media only screen and (max-width: 480px) {
			min-width: 0;
		}
	}
}