// Main default colours, header sizings etc //

$coop-primary-white: #FFF !default;
$coop-primary-blue: #0074CC !default;
$coop-primary-grey: #E2E2E2 !default;
$coop-primary-green: #367F14 !default;
$coop-secondary-green: #265B0A !default;
$coop-smile-background: #F6F6F6  !default;
$coop-primary-black: #000 !default;
$secondary-grey-opacity: rgba(51,51,51,0.5) !default;
$coop-tertiary-blue: #1899CD !default;
$confirm-box-yellow: #FDD577;
$confirm-box-background: #FFFDF8;
$input-box-shadow: #F0F0F0;
$coop-blue-link-color: #046ABD !default;
$coop-primary-red: #F53A3A !default;
$coop-subtitle-grey: #666666 !default;
$primary-grey: #F5F5F5 !default;
$secondary-grey: #333333 !default;
$btn-box-shadow: rgba(#000, .1);
$coop-blocked-blue-color: #C5E9F8;
$coop-warning-box-red:#FAECEC; 
