.top {
    background-color: #212d44;
    height: auto;
    .navbar, .navbar-toggler-icon, .dropdown-item,
    .navbar-brand {
        color: #fff !important;
    }
    img {
        width: 60%;
        margin-left: 3%;
    }
    .topRight {
        right: 20px;
        position: absolute;
        color: #fff;
        display: flex;
        svg {
            margin-left: 20px;
        }
    }
}
