.search {
  width: 100%;
  z-index: 0;
  .rowJoker {
    display: block;
    text-align: center;
    img {
      width: 40vw;
      margin-top: 5%;
    }
    .rounded-circle {
      border-radius: 10% !important;
    }
    
  }
  .alertMessage {
    margin: 5% !important;
  }
}
